html,
body,
#app {
  height: 100%;
}

.vue-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;
}

.messages-section {
  overflow: auto;
}

.message-group {
  display: flex;
  margin: 10px 1px;
}

.message-group-image {
  width: 36px;
  height: 36px;
  margin: 5px 10px 5px 0;
  flex-shrink: 0;
}

.message-group-image img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 2px;
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.message-list li {
  margin: 3px 0;
  word-break: break-all;
}

.form-section {
  margin-bottom: 20px;
}

.form-section textarea {
  width: 100%;
  padding: 7px;
  font-size: inherit;
  border-radius: 0;
  box-sizing: border-box;
  resize: none;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border: var(--vscode-input-border);
  outline-color: var(--vscode-inputOption-activeBorder);
}

.form-section input[type="submit"] {
  display: none;
}
